<div class="oj-flex oj-sm-margin-4x">

    <div>
        <h1>Calculator</h1>
    </div>
    <hr>

    <div class="oj-flex-item">
    <oj-label for="input1">Enter Value 1:</oj-label>
    <oj-input-number id="input1" value="{{input1}}" label-hint="Value 1"></oj-input-number>
    </div>

    <div class="oj-flex-item">
    <oj-label for="input2">Enter Value 2:</oj-label>
    <oj-input-number id="input2" value="{{input2}}" label-hint="Value 2"></oj-input-number>
    </div>

    <div class="oj-flex-item">
    <oj-label for="operation"></oj-label>
    <oj-radioset id="operation" value="{{operation}}" label-hint="Operation">
            <oj-option value="add">Add</oj-option>
            <oj-option value="subtract">Subtract</oj-option>
            <oj-option value="multiply">Multiply</oj-option>
            <oj-option value="divide">Divide</oj-option>
        </oj-radioset>
    </div>

    <div class="oj-flex-item">
        <oj-label for="result">Result:</oj-label>
        <div data-bind="text: result"></div>
    </div>

</div>